// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_logo{
  width: 150px;
  height: 100px;
  margin-left: 40px;
  margin-top: 30px;
}
.new_a:hover{
  background-color: #202020;
}