<!DOCTYPE html>
<html>
<head>
  <title>zhibogame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" type="text/css" href="http://staticlive.douyutv.com/common/douyu/style/common.css?v=2903.2" />
  <link rel="stylesheet" type="text/css" href="http://staticlive.douyutv.com/common/douyu/style/xarth_channel_sass.css?v=2903.2" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
